@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

:root {
    --blue: #0075FF;
    --white: white;
    --darkblue: #211F54;
    --grey: #6E7191;
    --font_w1: 100;
    --font_w3: 300;
    --font_w4: 400;
    --font_w5: 500;
    --font_w6: 600;
    --font_w7: 700;
    --font_w9: 900;
    --calc1: calc(100% / 12 * 1);
    --calc2: calc(100% / 12 * 2);
    --calc3: calc(100% / 12 * 3);
    --calc4: calc(100% / 12 * 4);
    --calc5: calc(100% / 12 * 5);
    --calc6: calc(100% / 12 * 6);
    --calc7: calc(100% / 12 * 7);
    --calc8: calc(100% / 12 * 8);
    --calc9: calc(100% / 12 * 9);
    --calc10: calc(100% / 12 * 10);
    --calc11: calc(100% / 12 * 11);
    --calc12: calc(100% / 12 * 12);
}

.container {
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.df {
    display: flex;
}

.dg {
    display: grid;
}

.jus-sb {
    justify-content: space-between;
}

.jus-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.dirextion-clm {
    flex-direction: column;
}

a {
    color: white;
}

.width_100 {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.unbtn_b {
    width: 174px;
    height: 54px;
    border: none;
    background-color: var(--blue);
    border-radius: 14px;
    color: var(--white);
}

.unbtn_w {
    width: 174px;
    height: 54px;
    border: .1px solid #f6f8ff;
    background-color: var(--white);
    border-radius: 14px;
    color: black;
    box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
}

.radius {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    border: 1px solid #DCDDEB;
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|  header started 

header {
    height: 800px;
    background-color: var(--white);

    nav {
        height: 100px;
        grid-template-columns: 230px auto auto;
        position: relative;
        .media_dn {
            li {
                a {
                    color: var(--darkblue);
                    transition: 1s;
                    padding-bottom: 5px;
                    &:hover {
                        border-bottom: 2px solid rgb(0, 0, 0);
                        transition: 1s;
                    }
                }
            }
        }

        .header_-menubar {
            text-align: center;
            display: none;
            h3 {
                position: relative;
                text-align: left;
                color: var(--blue);
                &:hover ul {
                    z-index: 999999;
                }

                ul {
                    top: 45px;
                    left: -10px;
                    z-index: -999999;
                    position: absolute;
                    width: 250px;
                    height: 350px;
                    border: 3px dashed white;
                    border-radius: 14px;
                    background-color: var(--blue);
                    padding: 15px;
                    transition: 2s;
                    box-shadow: 10px 4px 10px rgba(20, 20, 43, 0.457);
                    li {
                        text-align: left;
                        a {
                            color: var(--white);
                            transition: 1s;
                            &:hover {
                                border-bottom: 1px dashed white;
                                transform: 1s;
                            }
                        }
                    }
                    .tultip {
                        position: absolute;
                        top: -15px;
                        left: 10%;
                        width: 30px;
                        height: 30px;
                        border-left: 4px dotted white;
                        border-top: 4px dotted white;
                        background-color: var(--blue);
                        transform: rotate(45deg);
                    }
                    li {
                        line-height: 50px;
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }

        }

        .header__btn {
            justify-content: flex-end;

            p {
                color: var(--darkblue);
                font-size: 18px;
            }

            button {
                margin-left: 40px;
            }
        }
    }

    .header__main-section {
        .header_intro {
            color: var(--darkblue);
            flex-wrap: wrap;

            img {
                width: 100%;
                object-fit: cover;
            }

            h1 {
                font-size: 48px;
                margin-bottom: 22px;
            }

            .header__intro_p {
                color: var(--grey);
                margin-bottom: 34px;
            }

            .header__intro__btn {
                .header__intro__call {
                    .header__call-us {
                        p {
                            color: var(--grey);
                            margin: 0 0 4px 16px;
                        }

                        h3 {
                            margin-left: 16px;
                            font-size: 28px;
                        }

                        i {
                            color: var(--blue);
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1136px) {
    header {
        height: auto;
        display: inline-block;

        .container {
            nav {
                display: flex;
                justify-content: space-between;
                .logo {
                    display: none;
                }
                margin-bottom: 100px;
                grid-template-columns: auto auto auto;

                .media_dn {
                    display: none;
                }

                .header_-menubar {
                    display: block;
                }
            }

            .header__main-section {
                text-align: center;
                // display: block;
                flex-direction: column-reverse;

                .header_intro {
                    .header__intro__btn {
                        justify-content: space-around;
                        margin-bottom: 100px;
                    }

                    img {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    header .header__main-section .header_intro .header__intro__btn {
       flex-wrap: wrap; 
    }
    header .header__main-section .header_intro .header__intro__btn button {
        margin-bottom: 50px;
     }
     header .container nav {
        display: flex;
        justify-content: space-between;
     }
     header .header__btn p {
        display: none;
     }
}

// header ended
// main satarted

main {
    .main__service {
        .How {
            text-align: center;
            font-weight: var(--font_w7);
            color: var(--darkblue);
            margin-bottom: 21px;
            font-size: 21px;
        }
        .Sagittis {
            text-align: center;
            color: var(--grey);
            font-weight: var(--font_w4);
            margin-bottom: 58px;
        }
        .main-service_about {
            grid-template-columns: auto auto auto;
            .main-service-about_box {
                text-align: center;
                img {
                    margin-bottom: 39px;
                }
                h3 {
                    margin-bottom: 16px;
                    color: var(--darkblue);
                }
                p {
                    margin-bottom: 57px;
                    color: var(--grey);
                    font-weight: 400;
                    padding: 0 4px;
                }
            }
        }
        .main__service_btn {
            .unbtn_w {
                margin-left: 28px;
            }
            margin-bottom: 240px;
        }
    }
}

@media (max-width: 900px) {
    main {
        .main__service {
            .main-service_about {
                grid-template-columns: auto auto;
                .ikkinchi_main {
                    width: 304px;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    main {
        .main__service {
            .main-service_about {
                grid-template-columns: auto;
            }
        }
    }
}

// main service ended


// main service3 started
main {  
    .main__service_2 {
        text-align: center;
        .service2_end_img {
            position: relative;
            max-width: 1010px;
            overflow: hidden;
            height: 570px;
            margin: auto;
            background-image: url(../img/main/service2_1.png);
            background-repeat: no-repeat;
            background-position: center center;
            transition: 0.5s ease-out;
            margin-bottom: 240px;
            &:hover{
                background-image: url(../img/main/service2_2.png);
                cursor: pointer;
                transition: 0.3s ease-in;
            }
            img {
                width: 100%;
            }
        }
        .Our {
            text-align: center;
            font-size: 48px;
            font-weight: 400;
            margin-bottom: 13px;
            color: var(--darkblue);
        }
        .Lobortis {
            text-align: center;
            color: var(--grey);
            margin-bottom: 38px;
        }
        .main_service_2_reyting {
            justify-content: space-evenly;
            margin-bottom: 48px;
            .reyting_-box {

                .radius {
                    i {
                        font-size: 34px;
                        color: var(--blue);
                    }
                }
            }
            .reyting_text {
                margin-left: 16.5px;
            }
        }
    }
}

@media (max-width: 576px) {
    main .main__service_2 .main_service_2_reyting .reyting_-box {
        margin-bottom: 15px;
    }
}
// main service3 ended
.main__service3 {
    .main__dashboard {
        margin-bottom: 62px;
        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 57.98px;
            color: var(--darkblue);
        }

    }
    .service3__cards {
        grid-template-columns: auto auto auto;
        gap: 15px;
        margin-bottom: 240px;
        .service3__card {
            height: 494px;
            text-align: center;
            border: 1px solid #EFF0F6;
            border-radius: 16px;
            box-shadow: 0 2px 6px #6e719123;
            padding: 0 38px;
            margin-bottom: 15px;

            svg {
                margin-top: 83px;
                margin-bottom: 24px;
            }
            h3 {
                color: var(--darkblue);
                margin-bottom: 13px;
            }
            p {
                padding: 0 50px;
                font-size: 18px;
                color: var(--grey);
                margin-bottom: 29px;
            }
        }
    }
}